.header {
  background-color: #80471c;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10vh;
  justify-content: space-around;
  align-items: center;
}

.headerName {
  font-size: 32px;
  color: white;
}

.cart {
  background-color: #2e1503;
  color: white;
  flex-direction: row;
  display: flex;
  width: 15vw;
  height: 70%;
  border-radius: 40px;
  align-items: center;
  justify-content: space-around;
}

.cartItems {
  background-color: #80471c;
  height: 60%;
  width: 20%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.summary {
  text-align: center;
  max-width: 45rem;
  width: 90%;
  margin: auto;
  margin-top: 10rem;
  position: relative;
  background-color: #383838;
  color: white;
  border-radius: 14px;
  padding: 1rem;
  box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.25);
}